In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("mug_locations.parquet.gzip")

In [3]:
df.head()

,hospital_id,mug_id,campus_id,name_hospital,name_campus,address_campus,postal_code,municipality,region,province
0,9,102000,6230,ZIEKENHUISNETWERK ANTWERPEN (ZNA),ZNA CADIX,KEMPENSTRAAT 100,2030,ANTWERPEN,V,Antwerpen
1,99,102000,2020,GZA- ZIEKENHUIZEN,SINT-VINCENTIUS,ST.-VINCENTIUSSTRAAT 20,2018,ANTWERPEN,V,Antwerpen
2,682,102000,1210,AZ MONICA,DEURNE,FLORENT PAUWELSLEI 1,2100,DEURNE,V,Antwerpen
3,9,103000,2000,ZIEKENHUISNETWERK ANTWERPEN (ZNA),ZNA MIDDELHEIM,LINDENDREEF 1,2020,ANTWERPEN,V,Antwerpen
4,99,103000,1290,GZA- ZIEKENHUIZEN,SINT- AUGUSTINUS,OOSTERVELDLAAN 24,2610,WILRIJK,V,Antwerpen

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   hospital_id     94 non-null     int64
 1   mug_id          94 non-null     int64
 2   campus_id       94 non-null     int64
 3   name_hospital   94 non-null     object
 4   name_campus     59 non-null     object
 5   address_campus  94 non-null     object
 6   postal_code     94 non-null     int64
 7   municipality    94 non-null     object
 8   region          94 non-null     object
 9   province        94 non-null     object
dtypes: int64(4), object(6)
memory usage: 7.5+ KB

In [5]:
df.drop("name_campus", axis=1, inplace=True)

#### Im assuming the campus and the hospital has the AEDs. what we should check is the AEDs of the hospitals here overlap the AEDs in the AED list

In [6]:
df["municipality"].unique()

array(['ANTWERPEN', 'DEURNE', 'WILRIJK', 'MERKSEM', 'BRASSCHAAT',
       'EDEGEM', 'HERENTALS', 'TURNHOUT', 'MALLE', 'GEEL', 'LIER',
       'MECHELEN', 'BONHEIDEN', 'GENT', 'SINT-NIKLAAS', 'DENDERMONDE',
       'AALST', 'GERAARDSBERGEN', 'RONSE', 'ZOTTEGEM', 'OUDENAARDE',
       'EEKLO', 'BRUGGE', 'KNOKKE-HEIST', 'OOSTENDE', 'KORTRIJK',
       'VEURNE', 'TIELT', 'ROESELARE', 'TORHOUT', 'IEPER', 'MENEN',
       'SINT-TRUIDEN', 'HASSELT', 'HEUSDEN', 'GENK', 'MAASEIK',
       'TONGEREN', 'PELT', 'HALLE', 'LEUVEN', 'VILVOORDE', 'TIENEN',
       'DIEST', 'SCHAARBEEK', 'ANDERLECHT', 'BRUSSEL',
       'SINT-LAMBRECHTS-WOLUWE', 'UKKEL', 'JETTE', 'OUDERGEM', 'ELSENE',
       'OTTIGNIES', 'NIVELLES', "BRAINE-L'ALLEUD", 'MONS', 'GOSSELIES',
       'LA LOUVIERE', 'HAINE-SAINT-PAUL', 'HORNU', 'BOUSSU', 'TOURNAI',
       'MOUSCRON', 'ATH', 'CHARLEROI', 'SOIGNIES', 'CHIMAY',
       'MONTIGNY-LE-TILLEUL', 'LOBBES', 'LODELINSART', 'NAMUR',
       'AUVELAIS', 'DINANT', 'MONT-GODINNE', 'LIEGE', 'CHENEE', 'SERAING',
       'WAREMME', 'HUY', 'EUPEN', 'SANKT-VITH', 'VERVIERS', 'BASTOGNE',
       'ARLON', 'LIBRAMONT', 'MARCHE-EN-FAMENNE'], dtype=object)

In [7]:
df["region"].unique()

array(['V', 'B', 'W'], dtype=object)

In [8]:
df.head()

,hospital_id,mug_id,campus_id,name_hospital,address_campus,postal_code,municipality,region,province
0,9,102000,6230,ZIEKENHUISNETWERK ANTWERPEN (ZNA),KEMPENSTRAAT 100,2030,ANTWERPEN,V,Antwerpen
1,99,102000,2020,GZA- ZIEKENHUIZEN,ST.-VINCENTIUSSTRAAT 20,2018,ANTWERPEN,V,Antwerpen
2,682,102000,1210,AZ MONICA,FLORENT PAUWELSLEI 1,2100,DEURNE,V,Antwerpen
3,9,103000,2000,ZIEKENHUISNETWERK ANTWERPEN (ZNA),LINDENDREEF 1,2020,ANTWERPEN,V,Antwerpen
4,99,103000,1290,GZA- ZIEKENHUIZEN,OOSTERVELDLAAN 24,2610,WILRIJK,V,Antwerpen

In [9]:
df.drop("hospital_id", axis=1, inplace=True)

#### hospital ID and name hospital im assuming is the same, name hospital probably makes more sense to keep

In [10]:
df.head()

,mug_id,campus_id,name_hospital,address_campus,postal_code,municipality,region,province
0,102000,6230,ZIEKENHUISNETWERK ANTWERPEN (ZNA),KEMPENSTRAAT 100,2030,ANTWERPEN,V,Antwerpen
1,102000,2020,GZA- ZIEKENHUIZEN,ST.-VINCENTIUSSTRAAT 20,2018,ANTWERPEN,V,Antwerpen
2,102000,1210,AZ MONICA,FLORENT PAUWELSLEI 1,2100,DEURNE,V,Antwerpen
3,103000,2000,ZIEKENHUISNETWERK ANTWERPEN (ZNA),LINDENDREEF 1,2020,ANTWERPEN,V,Antwerpen
4,103000,1290,GZA- ZIEKENHUIZEN,OOSTERVELDLAAN 24,2610,WILRIJK,V,Antwerpen

#### It seems that the same mug might work for different campuses. as we observe same mugh id mentioned several times to different campus id